<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fall/Winter Photos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="centered-heading">Fall/Winter Photos</h1>
        <div class="photo-gallery">
            <% photos.forEach(photo => { %>
                <div class="photo-item">
                    <img src="<%= photo.url %>" alt="Photo" class="image">
                    <p><%= photo.description %></p>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
