<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="Home">Home</a>
            </li>
            <li>
                <a href="/about" class="About">About</a>
            </li>
            <li>
                <a href="/contact" class="Contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button>
            Logout 
            <!--here we can add an image of reading glass-->
        </button>
    </div>
</header>