<header class="header">
    <a href="/" class="header__logo">Blog</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="Home">Home</a>
            </li>
            <li class="dropdown">
                <a href="#" class="Fashion">Fashion</a>
                <ul class="dropdown-content">
                    <li><a href="/spring-summer">Spring/Summer</a></li>
                    <li><a href="/fall-winter">Fall/Winter</a></li>
                    <li><a href="/style-tips">Style Tips</a></li>
                </ul>
            </li>
            <li>
                <a href="/about" class="About">About</a>
            </li>
            <li>
                <a href="/contact" class="Contact">Contact</a>
            </li>
            <li>
                <a href="/subscribe" class="Subscribe">Subscribe</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search 
            <!--here we can add an image of reading glass-->
        </button>
    </div>
</header>