# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
bower_components/
jspm_packages/

# Build files
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db