<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subscribe</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <div class="container">
        <h2>Subscribe to Our Newsletter</h2>
        <h3>Sign up to get a dose of life & style in your inbox, PLUS get access to exclusive fashion & lifestyle content just for subscribers!</h3>
        <img src="/img/subscribe.webp" alt="Subscribe Image" style="width:100%; max-width:400px; display:block; margin:auto;">
        <% if (message) { %>
            <p><%= message %></p>
        <% } else { %>
            <form action="/subscribe" method="POST">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <button type="submit">Subscribe</button>
            </form>
            <p id="subscribeMessage" style="display: none;"></p>
        <% } %>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
