<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="subscribe-container">
        <% if (message) { %>
            <p><%= message %></p>
        <% } else { %>
            <h2>Subscribe to Our Newsletter</h2>
            <form action="/subscribe" method="POST">
                <input type="text" name="firstName" placeholder="First Name" required>
                <input type="text" name="lastName" placeholder="Last Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <button type="submit">Subscribe</button>
            </form>
        <% } %>
    </div>
</body>
</html>
