
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #1c1c1c;
    --gray: #7e7e7e;
    --gray-light: #e4e4e4;
    --red: #b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

body{
    font-family:"Raleway", sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #c0c0c0;
    margin: 0;
}

a{ color: var(--black);}
h1{font-size: var(--font-size-xl);}
h2{font-size: var(--font-size-lg);}
h3{font-size: var(--font-size-md);}
h4{font-size: var(--font-size-s);}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea{
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn{
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete{
    padding: 10px 16px;
    background-color: var(--red);
}

.image {
    max-width: 50%; /* Set to 50% of the container width */
    height: auto;
    display: block;
    margin: 20px auto; /* Add margin for spacing */
    border: 5px solid var(--black) !important; /* Add a thicker black border and ensure it is black */
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* Add a shadow */
}

/*Layout*/
.container{
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.main{
    padding: 20px 0;
    text-align: center;
}

/*image style
{
max-height: ;
filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
overflow: hidden;
border-radius: var(--border-radius);
}

*/

.centered-heading {
    text-align: center;
    position: relative;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-heading h1 {
    display: inline-block;
    padding: 0 20px;
    font-size: 2.5rem; 
    font-weight: bold;
    font-family: 'Raleway', sans-serif; 
}

.centered-heading::before,
.centered-heading::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: #080808; /* Passe die Farbe nach Bedarf an */
    margin: 0 20px;
}
/* Container padding to reduce the side margin */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 20px; /* Reduziere den Abstand von den Seiten */
}


.section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0; /* Adjust margin as needed */
    position: relative;
}

.section-heading h1 {
    font-size: 3rem; /* Adjust font size as needed */
    font-weight: bold;
    margin: 0 20px;
    font-family: 'Raleway', sans-serif; /* Ensure the font is imported */
}

.section-heading::before,
.section-heading::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid var(--black); /* Adjust line color and thickness as needed */
    margin: 0 10px;
}

@media only screen and (max-width: 768px) {
    .section-heading {
        flex-direction: column;
    }

    .section-heading::before,
    .section-heading::after {
        display: none;
    }

    .section-heading h1 {
        margin: 20px 0;
    }
}


.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}

@media only screen and (min-width: 768px){
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button"
        ;
    }
}

.header__logo{
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header__logo:hover{
    text-decoration: underline;
}

.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__button{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button{
    display: flex;
    gap: 0.3rem;
    align-items: center; 
    border: 2px solid transparent;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}

.header__button button:hover{
    border: 2px solid var(--black);
}

.header__nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a{
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a:hover{
    text-decoration: underline;
}

.header__nav ul a.active{
    color: var(--gray);
}

.author{
    padding: 10px 0;
    text-align: center;
}

.author__heading{
    margin-top: 10px;
    margin-bottom: 5px;
}

.description_body{
    max-width: 900px; 
    margin: 5px auto 40px auto;
    text-align: center;
}

/*Home Article List*/
.article__heading{
    margin-top: 2rem;
    font-weight: 400;
}

.article-ul{
    
    list-style-type: none;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date{
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}

.article-ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;

}

@media only screen and (min-width: 768px){
    .article-ul li a{
        flex-direction: row;
        align-items: center;
    }
    .article-list__date{
        text-align: right;
    }
}

.article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article-ul li:not(:last-child){
    border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover{
    filter: none;
}

.article-ul:hover li{
    filter: blur(3px);
}

.article-ul:hover li:hover{
    filter: none;
}

.pagination{
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover{
    color: var(--black);
}

.article {
    white-space: pre-wrap;
}

.footer{
    margin: 4rem;
    text-align: center;
}

/*SearchBar*/
.searchBar{
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.searchBar.open{
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input{
    margin: 0;
    padding: 0;
}

#searchClose{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px;
}

/* Dropdown menu */
.header__nav .dropdown {
    position: relative;
    display: inline-block;
}

.header__nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header__nav .dropdown-content a {
    color: var(--gray-light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header__nav .dropdown-content a:hover {
    background-color: var(--gray);
}

.header__nav .dropdown:hover .dropdown-content {
    display: block;
}

.header__nav .dropdown:hover .Fashion {
    background-color: var(--gray-light);
    color: var(--black);
}


/* Admin dashboard*/

.admin-titel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts{
    padding: 0;
    margin: 0;
}

.admin-post-controls form{
    display: inline-block;
}

.admin-post-controls .btn{
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


/* CSS für die Subscribe-Seite */
.subscribe-container {
    text-align: center;
    padding: 20px;
}

.subscribe-container form {
    margin-top: 20px;
}

.subscribe-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.subscribe-container input[type="text"],
.subscribe-container input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.subscribe-container .btn {
    padding: 10px 20px;
}

.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

.post h1 {
    text-align: center;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post .date {
    font-size: 0.9em;
    color: #777;
    text-align: right;
}

